/* Media Query for small views */
@media only screen and (max-width: 40.036em) {
  /* Main Style */
  /* .content{
        display: grid;
        grid-template-columns: 1fr;
        padding: 2px 16px;
    } */
}

/* header style */

header {
  background-color: #2c262c;
  color: #f4796b;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 80px;
  height: auto;
}

/* Navegation Bar */
nav {
  margin: 0 auto;
  background-color: #f44e3f;
}

nav ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navigation {
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.responsive li {
  display: block;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-decoration: none;
  color: #2c262c;
  font-weight: 700;
  text-align: center;
}

.navigation a:hover {
  color: #2c262c;
  background-color: #f40000;
}

/* Main Style */
.homeimagen {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.homeimagencontainer {
}

.callaction {
  display: block;
  background-color: #f4796b;
  border-style: none;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2px 16px;
}

.content div {
  /* height: 345px; */
  background-color: #f4796b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 1px;
  transition: 0.3s;
  text-align: center;
}

.content div:hover {
  box-shadow: 0 4px 20px 9px rgba(0, 0, 0, 0.2);
  background-color: #f44e3f;
}

.content div img {
  width: 405px;
  margin: 5px;
  border-radius: 5px;
}

.services-ul {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.services-ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}
.services-ul li:last-child {
  border-bottom: none;
}

.component-large {
  font-size: 18px !important;
}

.dayforecast {
  display: flex;
  flex-grow: 2;
}

.dayforecast div {
  flex-grow: 2;
}

.dayforecast img,
h3,
p {
  margin: 1px;
}

/* Footer style */
footer {
  background-color: #2c262c;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  text-align: center;
}

.socialmediaicon {
  width: 20px;
  margin: 10px;
}
