@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    /* Navegation style */
    .navigation {
      display: flex;
    }
  
    .navigation li {
      display: block;
      flex   : 1 auto;
    }
  
    .navigation a {
      text-align: center;
    }
  
    .navigation li:first-child {
      display: none;
    }

    /* Main Style */
    .content{
        display: grid;
        grid-template-columns: 1fr;
        padding: 2px 16px;
    }

    .catalogue {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 5px;
    }

    .info{
      display: grid;
      grid-template-columns: 1fr;
      padding: 12px;
    }
    
    .catalogue-image {
      padding: 10px;
      text-align: center;
    }

    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
    }
  
    .Contact-Information {
      padding: 5px;
    }
  
    .Information-and-Services {
      padding: 5px;
    }
  
    .General-Information {
      padding: 5px;
    }

}