@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    /* Navegation style */
    .navigation {
      display: flex;
    }
  
    .navigation li {
      display: block;
      flex   : 1 auto;
    }
  
    .navigation a {
      text-align: center;
    }
  
    .navigation li:first-child {
      display: none;
    }

    /* Main Style */
    .content{
        display: grid;
        grid-template-columns: 1fr;
        padding: 2px 16px;
    }

}